<div class="medium-avatar"><%= image_tag(question.user.pic) %></div>
</br>
<%= question.user.user_name %>
</br>
<%= question.content %>
</br>
<%= image_tag(question.image) %>

<%= render 'answers/form' %>
