  <div class="row">
    <div class="medium-avatar"><%= image_tag(question.user.pic) %></div>
  </br>
  <%= question.user.user_name %>
  </br>
  <%= question.content %>
  </br>
  <%= image_tag(question.image) %>
  </div>
  <div class="col-xs-3 col-sm-2">
  <div class="medium-avatar"><%= image_tag(current_user.pic) %></div>
  <br><%= current_user.user_name %>
  </div>

  <div class="col-xs-9 col-sm-10">
  <%= render partial: 'answers/answer', collection: question.answers, as: :answer %>
  <%= render partial: 'answers/form', locals: { question: question } %>
  <div class="answers">
  </div>
