<tr>
  <td>
    <%= link_to image_tag(exchange.image.small_thumb), exchange %>
  </td>
  <td>
    <%= link_to exchange.name, exchange, class: "product-info" %>
  </td>
  <td>
    <%= display_live_price(Currency.first, exchange) %>
  </td>
  <td>
    <%= exchange.volume %>
  </td>
  <td>
    <% if exchange.fiat? %>Y<% end %>
  </td>
  <td>
    <%= exchange.fee_ratio %>
  </td>
  <td>
    <% if exchange.incidents.count > 0 %>
      <%= exchange.incidents.count %>
      <% end %>
  </td>
  <td>
    <% if exchange.ny_permitted? %>
      Y
    <% end %>
  </td>
  <td>
    <%= exchange.location %>
  </td>
</tr>
