<div class="col-xs-12 col-sm-5">
  <h1><%= @exchange.name %></h1>
  <% if @exchange.image? %>
    <div class = "product-image">
      <%= image_tag @exchange.try(:image).try(:med_thumb) %>
    </div>
    </br>
  <% end %>

<% if @exchange.requirements? %>
	<h5><i class="fa fa-id-card-o" aria-hidden="true"></i> &nbsp;
	<%= @exchange.requirements %>
  </h5>
<% end %>
<% if @exchange.location? %>
  <h5><i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp;
  <%= @exchange.location %>
</h5>
<% end %>
<% if @exchange.bank_transfer? %>
  <h5><i class="fa fa-university" aria-hidden="true"></i></i> &nbsp;
    Bank Transfer
  </h5>
<% end %>
<% if @exchange.credit_card? %>
  <h5><i class="fa fa-credit-card" aria-hidden="true"></i> &nbsp;
    Credit Card
  </h5>
<% end %>
<% if @exchange.paypal? %>
  <h5><i class="fa fa-paypal" aria-hidden="true"></i></i> &nbsp;
    Paypal
  </h5>
<% end %>
<%= @exchange.about %>
</p>
</br>

</div>

<div class="col-xs-12 col-sm-7">
  <div class="panel panel-default">
</div>
