<div class="col-xs-12 col-sm-5">
  <h1><%= @exchange.name %></h1>
  <% if @exchange.image? %>
    <div class = "product-image">
      <%= image_tag @exchange.try(:image).try(:med_thumb) %>
    </div>
    </br>
  <% end %>

<% if @exchange.requirements? %>
	<h5><i class="fa fa-id-card-o" aria-hidden="true"></i> &nbsp;
	<%= @exchange.requirements %>
  </h5>
<% end %>
<h5><i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp;
<%= @exchange.location %>
<%= @exchange.about %>
</p>
</br>

</div>

<div class="col-xs-12 col-sm-7">
  <div class="panel panel-default">
</div>
