<div class="activity-row col-xs-12">
  <div class="col-xs-3">
    <div class="small-avatar activity-avatar"><%= link_to image_tag(review.user.pic), review.user %></div>
    </div>
  <div class="col-xs-9">
    <br/>
    <br/><div class="activity-header">
    <div class="user-name"><%= link_to review.user.user_name, review.user %></div> rated
    </div>
    <div class="activity-image"><%= link_to image_tag(review.product.image.small_thumb), review.product %></div>
    <%= render_rating_stars(review.rating) %>
    <br/><%= truncate(review.comment, length: 75) %>
    <div class="feed-timestamp"> <%= time_ago_in_words(review.created_at).gsub('about','') %> ago</div>

  </div>
</div>
