<div class="activity-row col-xs-12 col-sm-6">
  <div class="col-xs-3">
    <div class="small-avatar activity-avatar"><%= link_to image_tag(review.user.pic), review.user %></div>
  </div>
  <div class="col-xs-6">
    <br/>
    <br/><div class="user-name"><%= link_to review.user.user_name, review.user %></div> <%= truncate(review.comment, length: 50) %>
    <br/><%= render_rating_stars(review.rating) %>
  </div>
  <div class="col-xs-3">
    <div class="activity-image"><%= link_to image_tag(review.product.image), review.product %></div>
  </div>
</div>
