<div class="activity-row col-xs-12 col-md-6">
  <div class="col-xs-3">
    <div class="small-avatar activity-avatar"><%= link_to image_tag(question.user.pic), question.user %></div>
  </div>
  <div class="col-xs-9">

  </br></br>
  <div class="activity-header">
    <div class="user-name"><%= question.user.user_name %></div>
    <%= question.content %>
    <div class="question-image"><%= image_tag(question.image) %></div>
  </div>
</div>
<ul class="answers">
  <%= render partial: 'answers/answer', collection: question.answers, as: :answer %>
</ul>
  <%= render partial: 'answers/form', locals: { question: question } %>
</div>
