<%= form_for @user do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation" class= "alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <!-- <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4> -->

  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
  <div class="form-group">
    <%= f.label "Your username" %>
    <%= f.text_field :user_name, class: "form-control" %>
  </div>
  <%= f.submit "Done!", class: "btn btn-lg btn-primary" %>
<% end %>
