<% title 'looklove, reviews of new beauty products' %>
<% description 'Reviews and photos of the best in new skincare and cosmetics products' %>
<% keywords 'skincare products, cosometics products, beauty reviews, community, forum, posts, korean beauty, skincare, beauty, products, lists, regimen' %>
<div class="index-panel">
    <h1>Members</h1>
</div>
		<% if @skin_type.present? %>
    	<center><div class="legend">
    		<small><i class="glyphicon glyphicon-tasks"></i></small> with <%= @skin_type.name %>
    	</div></center>
    <% end %>

<!-- Display users who have accepted invitations and supply avatars for those who don't have one -->
<div class="user-index">
	<% @users.each do |user| %>
		<% if user.avatar.blank? %>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<div class="large-avatar"><%= link_to image_tag("https://s3.amazonaws.com/productbase/hearts/black-heart.jpeg"), user %></div>
				<% if current_user.try(:profile).try(:skin_type_id) == user.try(:profile).try(:skin_type_id) && current_user.try(:profile).try(:skin_type_id) != nil %>
					<div class="match-name"><small><i class="glyphicon glyphicon-tasks"></i></small> <%= link_to truncate(user.user_name, length:12), user %> </div>
				<% else %>
					<div class="name"><%= link_to truncate(user.user_name, length:12), user %> </div>
				<% end %>
			</div>
		<% else %>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<div class="large-avatar"><%= link_to image_tag(user.try(:avatar).try(:image).try(:med_thumb)), user %></div>
				<% if current_user.try(:profile).try(:skin_type_id) == user.try(:profile).try(:skin_type_id) && current_user.try(:profile).try(:skin_type_id) != nil%>
					<div class="match-name"><small><i class="glyphicon glyphicon-tasks"></i></small> <%= link_to truncate(user.user_name, length:9), user %> </div>
				<% else %>
					<div class="name"><%= link_to truncate(user.user_name, length:12), user %></div>
				<% end %>
			</div>
		<% end %>
	<% end %>
</div>
<script>
	mixpanel.track("Viewed Profile Index");
</script>