<% title @profile.user_name + "'s " + 'reviews on looklove' %>
<% description 'Reviews and photos of Korean, Japanese, and other Asian skincare products by ' %>
<% keywords 'reviews, community, forum, posts, asian, skincare, beauty, products, lists, regimen' %>
<% nofollow %>
<% noindex %>

<% current_user.liked_products.each do |product| %>
<%= product.product_brand %> <%= product.product_name %>
<br>
<% end %>

<div class="jumbotron">
<% if @profile != current_user %>

	<p><h1><%= @profile.user_name %></h1></p>
	<p>Member since <%= @profile.created_at.strftime("%-m/%-d/%-y") %>.</p>
	<h3>
	<% if @profile_reviews.length == 1 %>
		<%= @profile.user_name %> has written <%= "#{@profile_reviews.length} review!" %>
		<% elsif @profile_reviews.length == 0 %>
			<%= @profile.user_name %> is discovering products!
	</div>

	<% else %>
		<%= @profile.user_name %> has written <%= "#{@profile_reviews.length} reviews!" %>
	<% end %></h3>

<% elsif @profile == current_user %>

	<p><h1>Hi, <%= @profile.user_name %></h1></p>
	<h3>
	<% if @profile_reviews.length == 1 %>
		You've added <%= "#{@profile_reviews.length} review!" %>
		<% elsif @profile_reviews.length == 0 %>
			Get started now by</br>discovering and reviewing products.
	</div>

	<% else %>
		You've added <%= "#{@profile_reviews.length} reviews!" %>
	<% end %></h3>

<% end %>
</div>

<div class="row profile-panel">

	<% @profile_reviews.each do |review| %>
		<div class="row">
			<div class="col-xs-12 col-sm-3">
				<div class = "row">
					<div class ="col-xs-4 col-sm-12">
						<div class ="profile-product-image"><%= link_to image_tag(review.product.image_url), review.product %></div>
					</div>
					<div class = "col-xs-8 col-sm-12">
						<div class="profile-product-info">
							<h4><%= "#{review.product.product_brand}" %></h4>
							<p><%= link_to review.product.product_name, review.product %><p>
							<div class="stars"><div class="star-rating" data-score= <%= review.rating %> ></div></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-9">
					<table>
						<tr class ="col-xs-12 col-sm-12">
							<td>
			
			  				</td>
			  			</tr>
			  			<tr class="col-xs-12 col-sm-12">
			  				<td>
								<p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>
								<p><%= review.created_at.strftime("%-m/%-d/%-y") %>
								<% if user_signed_in? %>
									<% if (review.user == @profile) %>
										<%= link_to "Edit", edit_product_review_path(review.product, review) %>
										<% if (@profile.admin?) %>
											<%= link_to "Delete", product_review_path(review.product, review), method: :delete %>
										<% end %>
									<% end %>
								<% end %>
								</p>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	<% end %>
</div>


<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/productbase/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>

