<% title @profile.user_name + ' on looklove' %>
<% description 'Reviews and photos of the best beauty products' %>
<% keywords 'beauty products, reviews, community, forum, posts, skincare, cosmetics' %>
<% nofollow %>
<% noindex %>

<div class="profile-info">
	<h1><%= @profile.user_name %></h1>
	<div class="profile-avatar"><%= image_tag(@profile.avatar.try(:image)) %></div>
	
	<% if @profile == current_user %>
		<% if @profile.avatar.blank? %>
			<small><%= link_to "Add photo", new_user_avatar_path(@profile) %></small></br>
		<% else %>
			<small><%= link_to "Edit photo", edit_user_avatar_path(@profile, @profile.avatar) %></br>
			<%= link_to "Delete photo", [@profile, @profile.avatar], method: :delete %></small></p>
		<% end %>
	<% end %>
	<div class="activity-info">
		Member #<%= @profile.id %></br>
		Joined <%= @profile.created_at.strftime("%-m/%-d/%-y") %>
		</div>

	<div class="invitations">
		<% if user_signed_in? && @profile == current_user %>
			<% unless current_user.invitation_limit == 0 %>
				<div class="invite-info">
					<% unless current_user.invitation_limit.nil? %>
						You earned  <%= pluralize(current_user.invitation_limit, "invitation") %>.</br>
					<% end %>
					<%= link_to "Invite a friend!", new_user_invitation_path %>

				</div>
			<% end %>
		<% end %>
	</div>

</div>





<% if @profile.used_products.any? %>
	<div class= "title">Currently Using</div>
	<div class="row">
		<% @profile.used_products.each do |product| %>
			<div class="col-xs-6 col-sm-4">
				<div class="card">
					<div class="category">
						<%= product.category.name.titleize %>
					</div>
					<div class="product-image">
						<%= link_to image_tag(product.image), product %></br>
					</div>
					<div class="product-info">
						<%= product.product_brand %></br>
						<%= link_to product.product_name, product %></br>
					</div>
				</div>
			</div>
		<% end %>
	</div>
<% end %>


<% if @profile_reviews.present? %>
	<div class="product-list">
		<div class= "title"><%= pluralize(@reviews_added, "Review") %></div>
		    <% @profile_reviews.each do |review| %>
		        <div class="product-card">
		            <div class="row product-list-row">
		              <div class="col-xs-3 col-md-3">
		                <div class="profile-product-image"><%= link_to image_tag(review.product.image_url), review.product %>
		                </div>
		              </div>

		              <div class="col-xs-4 col-md-5 product-info">
		                <div class="row product-list-row">
		                  <div class="col-xs-12 col-md-5">
		                    <h6><%= "#{review.product.product_brand}" %></h6>
		                    </div>
		                    <div class="col-xs-12 col-md-7">
		                      <h7><%= link_to review.product.product_name, review.product %></h7>
		                    </div>
		                  </div>
		                </div>

		                <div class="col-xs-5 col-md-4 review-info">
		                  <div class="col-xs-12 col-md-8">
		                    <div class="star-rating-index"><div class="star-rating" data-score= <%= review.rating %>></div></div>
		                  </div>

		                </div>

		                <div class="col-xs-12 col-sm-8 col-md-8 review-excerpt">
		                   <%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></br>
		                  <small><%= time_ago_in_words(review.updated_at).gsub('about','') %> ago</small>
		    
		              				<% if user_signed_in? %>
									<% if (review.user == current_user) || (current_user.admin?) %>
										<p><%= link_to "Edit", edit_product_review_path(review.product, review) %>
										<%= link_to "Delete", product_review_path(review.product, review), method: :delete %>
										<%= review.created_at.strftime("%-m/%-d/%-y") %></p>
									<% end %>
								<% end %>
		                </div>

		            </div>   <!-- /row product-list-row -->
		        </div>   <!-- /product-card -->         
		      <% end %>
	</div>
<% end %>





<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/productbase/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>

<script>
	mixpanel.track("Viewed Profile");
</script>


