<% title @user.user_name + ' on looklove' %>
<% description 'Reviews and photos of the best beauty products' %>
<% keywords 'beauty products, reviews, community, forum, posts, skincare, cosmetics' %>
<% nofollow %>
<% noindex %>

<div class="user-info">
	<h1><%= @user.user_name %></h1>
	<div class="user-avatar"><%= image_tag(@user.pic) %></div>

	<% if @user == current_user %>
	<% if @user.avatar.blank? %>
	<small><%= link_to "Add photo", new_user_avatar_path(@user) %></small></br>
	<% else %>
	<small><%= link_to "Edit", edit_user_avatar_path(@user, @user.avatar) %>,
		<%= link_to "Delete", [@user, @user.avatar], method: :delete %></small></p>
		<% end %>
		<% end %>

		<div class="row skin">
			<% if @skin_type.present? %>
			<% if @user == current_user %>
			<div class="skin-info"><small><i class="glyphicon glyphicon-tasks"></i></small> <%=link_to "#{@skin_type.name.capitalize}", edit_user_profile_path(@user, @user.profile) %></div>
			<% else %>
			<div class="skin-info"><small><i class="glyphicon glyphicon-tasks"></i></small> <%= @skin_type.name.titleize %></div>
			<% end %>
			<% else %>
			<% if @user == current_user %>
			<div class="skin-info"><small><i class="glyphicon glyphicon-tasks"></i></small> <%=link_to "Add your skin type!", new_user_profile_path(@user) %></div>
			<% end %>
			<% end %>
		</div>
	</div> <!-- .user-info -->


<div class="title">Using</div>
<%= render partial: 'products/product_row_review', collection: @user.used_products, as: :product, locals: { user: @user } %>

<div class="title">Wants</div>
<%= render partial: 'products/product_row_review', collection: @user.wanted_products, as: :product, locals: { user: @user } %>


<% if @user == current_user %>
<script>
mixpanel.track("Viewed Own Profile", {"Username": "<%= @user.user_name %>", "User ID": <%= @user.id %>});
</script>
<% else %>
<script>
mixpanel.track("Viewed Profile", {"Username": "<%= @user.user_name %>", "User ID": <%= @user.id %>});
</script>
<% end %>

<script>
	$('.star-rating').raty({
		path: 'https://s3.amazonaws.com/productbase/stars',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		}
	});
</script>
