<% title 'looklove, reviews of new beauty products' %>
<% description 'Reviews and photos of the best in new skincare and cosmetics products' %>
<% keywords 'skincare products, cosometics products, beauty reviews, community, forum, posts, asian beauty, korean beauty, skincare, beauty, products, lists, regimen' %>
<div class="index-panel">
    <h1>Find products</h1>
    <h4>Get clicking for cleansing, moisturizing, treating...and everything in between!</h4>
</div>

<div class="category-index">
  <div class="title">Products</div>
  <% @categories.each_with_index do |category, i | %>
    <div class="row category-row">
      <div class="col-xs-5 col-sm-3 category-name">
        <%= link_to category.name.titleize.pluralize, category %>
      </div>
      <div class="col-xs-7 col-sm-6 category-images">
        <%= link_to image_tag(@products[i].first.try(:image)), @products[i].first %>
        <%= link_to image_tag(@products[i].second.try(:image)), @products[i].second %>
        <%= link_to image_tag(@products[i].third.try(:image)), @products[i].third %>       
      </div>
      <div class="col-xs-12 col-sm-3 category-count">
          <%= link_to pluralize(category.products.count, "product"), category %>
      </div>
    </div> <!--/row-->
  <% end %>
</div>





