<div class="index-panel">
    <h1>Find a Product</h1>
    <h4>Cleansing, moisturizing, treating &mdash; and everything in between.</h4></br>
    <strong>TIP!</strong> New to Asian beauty?</br>Try an <%= link_to "Oil Cleanser", Category.find_by_slug("oil-cleanser") %>, <%= link_to "Sheet Mask", Category.find_by_slug("sheet-mask") %>, or <%= link_to "BB Cushion", Category.find_by_slug("bb-cushion") %>.</br>
</div>

<table class="table">
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><div class="category-table-cell"><h4><%= link_to category.name.titleize.pluralize, category %></h4></div></td>
        <!--<td><%= truncate(category.description, length: 65) %></td>-->
                            <% if user_signed_in? %>
                              <% if current_user.admin? %>
                                <td><%= link_to 'Show', category %></td>
                                <td><%= link_to 'Edit', edit_category_path(category) %></td>
                                <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                              <% end %>
                            <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <tr><%= link_to 'New Category', new_category_path %></tr>
    <% end %>
  <% end %>
</div>



