<div class="jumbotron">
    <h1>Find a Product</h1>
    <h4>There's a product here for every step of your regimen &mdash; cleansing, moisturizing, treating &mdash; and everything in between.</h4>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name.titleize.pluralize, category %></td>
        <td><%= truncate(category.description, length: 75) %></td>
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <td><%= link_to 'Show', category %></td>
            <td><%= link_to 'Edit', edit_category_path(category) %></td>
            <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
      </tr>

    <% end %>
  </tbody>
</table>
  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <tr><%= link_to 'New Category', new_category_path %></tr>
    <% end %>
  <% end %>



