<%= render partial: 'meta', locals: { category: @category } %>
<%= render partial: 'header_show', locals: { category: @category } %>

<div class="product-list">
  <div class="category-show">
    <%= render partial: 'products/product_row', collection: @products, as: :product %>
  </div>
</div>

<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/productbase/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>

<script>
  mixpanel.track("Viewed Category", {"Category Name": "<%= @category.name %>", "Category ID": <%= @category.id %>});
</script>
