<% title @category.name + ' on Looklove' %>
<% description 'Real reviews and ratings of the best ' + @category.name + 'from skincare and beauty enthusiasts.' %>
<% keywords @category.name + ', skincare, cosmetics, makeup, beauty, products, reviews, community, forum, posts' %>


<%= render partial: 'meta', locals: { category: @category } %>
<!-- <%= render 'products/search' %> -->
<div class="page">
<%= render partial: 'header_show', locals: { category: @category } %>


<div class="sortable">
  <%= render partial: 'products/product_row', collection: @products, as: :product %>
</div>
</div>

<script>
  mixpanel.track("Viewed Category", {"Category Name": "<%= @category.name %>", "Category ID": <%= @category.id %>});
</script>

<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/productbase/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
