<%= form_for(@product, :html => { multipart: true }) do |f| %>
  <% if @product.errors.any? %>
  <div id="error_explanation" class= "alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h4>

    <ul>
      <% @product.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

<div class="product-form-image-display col-sm-5">
</div>

<div class="col-sm-7 product-details product-form-brand">
  <div class="form-group product-form-brand">
    <%= f.text_field :product_brand, placeholder: "Brand", class: "form-control" %>
  </div>
  <div class="form-group product-form-name">
    <%= f.text_area :name, placeholder: "Name", class: "form-control" %>
  </div>
  <%= f.hidden_field :image %>
  <%= f.hidden_field :link %>
  <div class="form-group">
    <%= f.submit value: "Add!", class: "btn btn-info btn-lg" %>
  </div>
</div>

<div class="form-group">
  <%= text_field_tag "link", "Add your product by pasting its Sephora, Ulta, or store link!", class: "form-control" %>
  <div class="cancel"><a href="">Cancel</a></div>
</div>

<div class="image-grid">
</div>

<% end %>
