<h1>ID: <%= @product.id %></h1>

<%= form_for(@product, :html => { multipart: true }) do |f| %>
<% if @product.errors.any? %>
<div id="error_explanation" class= "alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h4>

  <ul>
    <% @product.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <%= f.label "Link" %>
  <%= f.text_field :link, class: "form-control", placeholder: "Shopping link" %>
</div>
<div class="form-group">
  <%= f.label :name %><br>
  <%= f.text_field :name, class: "form-control", placeholder: "First Treatment Essence" %>
</div>
<div class="form-group">
  <%= f.label :image %><br>
  <%= f.file_field :image, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :category_id %><br>
  <%= f.select :category_id, @categories.collect {|c| [c.name.titleize, c.id]}, class: "form-control" %> <small>Not sure? Choose "Other" and we'll take care of it!</small>
</div>

<% if user_signed_in? && current_user.admin? %>
<div class="form-group">
  <%= f.label :rating %><br>
  <%= f.text_field :rating, class: "form-control", rows: "10", placeholder: "Average rating from other sites"%>
</div>
<% end %>

<% if user_signed_in? && current_user.admin? %>
<div class="form-group">
  <%= f.label :about %><br>
  <%= f.text_area :about, class: "form-control", rows: "10", placeholder: "About this product"%>
</div>
<% end %>

<div class="form-group">
  <%= f.submit value: "Save", class: "btn btn-primary btn-lg" %>
</div>
<% end %>
