    <div class="row product-row">
      <div class="col-xs-4 col-sm-3 product-image">
        <%= link_to image_tag(product.image.url), product %>
      </div>

      <div class="col-xs-5 col-sm-5">
        <div class="product-brand"><%= product.product_brand %></div>
        <div class="product-name"><%= link_to product.product_name, product %></div>
      </div>

      <div class ="hidden-xs col-sm-2">
        <% unless !product.uses.any? %>
          <div class="user-count">
            <%= render partial: 'uses/use', collection: product.uses.limit(3), as: :use %>
            <div class="count"><%= link_to pluralize(product.used_by.count, "user"), product %></div>
          </div>
        <% end %>
      </div>

      <div class="col-xs-3 col-sm-2 review-info">
        <%= render partial: 'products/rating', locals: {rating: product.average_rating} %>
      </div>
    </div>
