    <div class="row product-row">
      <div class="col-xs-3 product-image">
        <%= link_to image_tag(product.image.url), product %>
      </div>

      <div class="col-xs-5">
        <div class="product-brand"><%= product.product_brand %></div>
        <div class="product-name"><%= link_to product.product_name, product %></div>
      </div>

      <div class="col-xs-4 review-info">
        <%= render partial: 'reviews/reviews', locals: {product: product} %>

        <%= render partial: 'uses/uses', locals: { uses: product.uses } %>
      </div>
    </div>
