<div class='big-search'>
  <%= form_tag search_products_path, method: :get, class: "search" do %>
  <%= text_field_tag :search, params[:search], class: "big-search", placeholder: "search 832 products from 88 members!" %>
  <%= submit_tag "search!", name: nil, class: "btn btn-primary search-button" %>
  <div class="guide-text">
  try:
  <%= link_to "orgasm blush", root_path + 'products/search?utf8=%E2%9C%93&search=' + 'orgasm blush' %>,
  <%= link_to "hyaluronic acid", root_path + 'products/search?utf8=%E2%9C%93&search=' + 'hyaluronic acid' %>,
  <%= link_to "cerave cream", root_path + 'products/search?utf8=%E2%9C%93&search=' + 'cerave cream' %>, or
  <%= link_to "green tea", root_path + 'products/search?utf8=%E2%9C%93&search=' + 'green tea' %>
</div>
<% end %>
</div>
