<div class="index-panel hidden-xs">
  <div class="col-sm-3 user-avatar">
    <div class="medium-avatar">
      <%=  link_to image_tag(current_user.pic), current_user %>
    </div>
  </div>
  <div class ="col-sm-5 welcome-message">
  </br>
  <h2><strong>Hi <%= link_to "#{current_user.user_name}", current_user %>!</strong> Browse <%= link_to "#{product_count} products", categories_path %> with <%= review_count %> reviews.</h2>
</div>
<div class="col-sm-4">
  <div class="add-button">
    </br>
    <%= link_to 'Add product!', new_product_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
</div>

<div class="index-panel visible-xs-inline">
  <h1>What beauty products are you using?</h1>
  <div class= "new-product-panel">
    <div class= "form-group">
      <%= link_to 'Add product!', new_product_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>
<div style="clear: both;"></div>
</br>
