<% title 'looklove, reviews of new beauty products' %>
<% description 'Reviews and photos of the best in new skincare and cosmetics products' %>
<% keywords 'the best beauty products, reviews, community, forum, posts, asian beauty, korean beauty, skincare' %>
<div class="index-panel">
    <h1>The best in beauty</h1>
    <h4>What are you loving?</h4>
    <% if user_signed_in? %>
      <div class= "new-product-panel">
          <div class= "form-group">
            <%= link_to 'Add a new product!', new_product_path, class: "btn btn-primary btn-lg" %>
          </div>
      </div>
      <% else %>
      <div class="new-product-panel">
        <div class="form-group">
            <%= link_to 'Sign up to share!', new_user_registration_path, class: "btn btn-primary btn-lg" %>
       </div>
     </div>
      <% end %>
</div>


<div class="product-list">
<table class="table feed">
    <% @recent_reviews.each do |review, i| %>
      <tr>
        <td>
                <div class="col-xs-12">
                  <div class="row">
                    <div class="col-xs-4 col-sm-3 feed-user">
                      <% if review.user.avatar.present? %>
                      <div class="large-avatar"><%= link_to image_tag(review.user.avatar.try(:image).try(:med_thumb)), review.user %></div><div class="feed-product-image"><%= link_to image_tag(review.product.image.url), review.product %></div>
                      <% else %>
                        <div class="feed-product-image-alt"><%= link_to image_tag(review.product.image.url), review.product %></div>
                      <% end %>
                    </div>
                    <div class="col-xs-8 col-sm-9">
                      <div class="feed-action-text">
                        <strong><%= link_to "#{review.user.user_name}", review.user %></strong> reviewed <!--<%= link_to image_tag(review.product.image.url), review.product %>--> <%= review.product.product_brand %> <%= link_to review.product.product_name, review.product %>
                      </div>
                      <div class="feed-review-excerpt">
                        <div class="star-rating-product-page"><div class="star-rating" data-score= <%= review.rating %> ></div></div>
                        <%= truncate(review.comment, length:130, separator: ' ') %> </br>- <small><%= time_ago_in_words(review.updated_at).gsub('about','') %> ago in <%= link_to "#{review.product.category.name.titleize.pluralize}", review.product.category %></small>
                      </div>
                    </div>
                  </td>
                </div> 
      </tr>  
    <% end %><!-- /recent_reviews loop -->
</table>
</div><!-- /product-list -->

        <div class="form-group">
            <center><%= link_to 'See all products!', categories_path, class: "btn btn-primary btn-lg" %></center>
       </div>

<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/productbase/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>