<div class="jumbotron">
  <h2>Recommend and discover the best beauty products</h2>
  <h3>Read and write reviews of Korean, Japanese, Taiwanese, and other Asian cosmetics and personal care brands.</h3>
</div>
<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Brand</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.product_brand %></td>
        <td><%= product.product_name %></td>
        <td><%= link_to 'Show', product, class: "btn btn-link" %></td>
        <td><%= link_to 'Edit', edit_product_path(product), class: "btn btn-link" %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="form-group">
  <%= link_to 'Add a new product', new_product_path, class: "btn btn-default" %>
</div>
