<% title 'Walletthing' %>
<% description 'The easiest place to compare cryptocurrency wallets' %>
<% keywords 'cryptocurrency wallets, bitcoin, ethereum, how to buy bitcoin, how to buy ethereum, how to buy ether, how to buy litecoin, how to store cryptocurrency, digital money' %>

<div class="jumbotron">
  <h2>Buy your first Bitcoin in New York</h2>
  <h4>Simple and reliable information for buying and storing Bitcoin in NYC.</h4>
  <div class="btn-group" role="group" aria-label="...">
    <%= link_to "1. Buy at an Exchange", exchanges_path, class: "btn btn-default selector" %>
    <%= link_to "2. Store in a Wallet", wallets_path, class: "btn btn-default selector selected" %>
  </div>
</div>atom
</p>
<div class="table-responsive">
              <table class="table">
                <thead>
                    <th>Wallet</th>
                    <th>Name</th>
                    <th>Device</th>
                    <th>Private Keys?</th>
                    <th>Popular?</th>
                </thead>
                <% @products.each do |product| %>
                  <%= render partial: 'product_row', locals: { product: product } %>
                <% end %>
              </table>
            </div>

<script>
mixpanel.track("Viewed Home");
<% if current_user %>
mixpanel.identify("<%= current_user.id %>");
mixpanel.people.set({
  "$email" : "<%= current_user.email %>",
  "name" : "<%= current_user.user_name %>",
  "User ID" : "<%= current_user.id %>",
  <% end %>
});
</script>

<script>
mixpanel.track_links(".feed-user a", "Clicked Feed", {"Item" : "User"})
mixpanel.track_links(".review-item a", "Clicked Feed", {"Item" : "Review"});
mixpanel.track_links(".use-item a", "Clicked Feed", {"Item" : "Use"});
mixpanel.track_links(".want-item a", "Clicked Feed", {"Item" : "Want"});
mixpanel.track_links(".post-item a", "Clicked Feed", {"Item" : "Post"});
</script>
