<% title 'looklove, reviews of new beauty products' %>
<% description 'Reviews and photos of the best in new skincare and cosmetics products' %>
<% keywords 'the best beauty products, reviews, community, forum, posts, asian beauty, korean beauty, skincare' %>
<div class="index-panel">
    <h1>The best in beauty</h1>
    <h4>What's new? What's good?</h4>
    <% if user_signed_in? %>
      <div class= "new-product-panel">
          <div class= "form-group">
            <%= link_to 'Add a new product!', new_product_path, class: "btn btn-primary btn-lg" %>
          </div>
      </div>
      <% else %>
      <div class="new-product-panel">
        <div class="form-group">
            <%= link_to 'Sign up to share!', new_user_registration_path, class: "btn btn-primary btn-lg" %>
       </div>
     </div>
      <% end %>
</div>


<div class="product-list">
<div class= "title">Recently</div>
    <% @recent_reviews.each  do |review, i| %>
          <div class="row feed-item">
                <div class="col-xs-12">
                  <div class="row">
                    <div class="col-xs-3 col-sm-2">
                      <div class="small-avatar"><%= link_to image_tag(review.user.avatar.try(:image).try(:med_thumb)), review.user %></div>
                    </div>
                    <div class="col-xs-9 col-sm-10 feed-action-text">
                        <strong><%= link_to "#{review.user.user_name}", review.user %></strong> reviewed <%= link_to image_tag(review.product.image.url), review.product %> <%= review.product.product_brand %> <%= link_to review.product.product_name, review.product %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12">
                      <div class="review-excerpt">
                        <div class="star-rating-product-page"><div class="star-rating" data-score= <%= review.rating %> ></div></div>
                        <%= truncate(review.comment, length:120, separator: ' ') %> - <%= time_ago_in_words(review.updated_at).gsub('about','') %> ago 
                      </div>
                    </div>
                  </div> <!-- /row -->
                </div>


          </div>  <!-- /row -->     
    <% end %><!-- /recent_reviews loop -->
</div><!-- /product-list -->




<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/productbase/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>