<div class="jumbotron">
  <h2>Recommend and discover the best beauty products</h2>
  <h3>Read and write reviews of Korean, Japanese, Taiwanese, and other Asian cosmetics and personal care brands.</h3>
</div>
<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Brand</th>
      <th>Name</th>
      <% if user_signed_in? && current_user.admin? %>
      <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.product_brand %></td>
        <td><%= link_to product.product_name, product %></td>
              <% if user_signed_in? && current_user.admin? %>
        <td><%= link_to 'Edit', edit_product_path(product), class: "btn btn-link" %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
              <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="form-group">
  <%= link_to 'Add a new product', new_product_path, class: "btn btn-default" %>
</div>
