<% title 'looklove, reviews of new beauty products' %>
<% description 'Reviews and photos of the best in new skincare and cosmetics products' %>
<% keywords 'the best beauty products, reviews, community, forum, posts, asian beauty, korean beauty, skincare' %>

<div class = "row profile-panel hidden-xs">
  <div class="col-xs-6 col-sm-3">
    <div class="user-avatar">
      <div class="extra-medium-avatar">
        <%= image_tag current_user.try(:avatar).try(:image) %>
      </div>
    </div>
    <div class="user-greeting">
        Hi, <%= current_user.user_name %>!
    </div>
    <div class="user-instructions">
      What beauty products are you using?</br>
    </div>
          <div class= "new-product-panel">
          <div class= "form-group">
            <%= link_to 'Add product!', new_product_path, class: "btn btn-primary btn-lg" %>
          </div>
      </div>
  </div><!-- /. user info column -->
  <% if @basic_products_count > 2 %>
    <% @categories.each_with_index do |category, i| %>
      <div class="col-xs-6 col-sm-3 card">
        <div class="category"><%= category.name.titleize %></div>
        <% if @used_advanced_products[i].present? %>
          <div class="product-image"><%= link_to image_tag(@used_advanced_products[i].image), @used_advanced_products[i] %></div>
          <div class="product-info"><%= link_to "#{@used_advanced_products[i].product_brand} #{@used_advanced_products[i].product_name}", product_path(@used_advanced_products[i]) %></div>
        <% else %>
          <div class="product-image"><%= link_to image_tag("https://s3.amazonaws.com/productbase/placeholders/white-square.png"), category_path(category) %></div>
          <div class="profile-add"><%= link_to "+ Add", category_path(category) %></div>
        <% end %>
      </div>
    <% end %><!-- /advanced products loop -->
  <% else %><!-- if don't have basic products completed -->
    <% @themes.each_with_index do |theme, i| %>
      <div class="col-xs-6 col-sm-3 card">
        <div class="category"><%= theme.name.titleize %></div>
          <% if @used_basic_products[i].present? %>
            <div class="product-image"><%= link_to image_tag(@used_basic_products[i].image), @used_basic_products[i] %></div>
            <div class="product-info"><%= @used_basic_products[i].product_brand + " " + @used_basic_products[i].product_name %></div>
          <% else %>
            <div class="product-image"><%= link_to image_tag("https://s3.amazonaws.com/productbase/placeholders/white-square.png"), theme_path(theme) %></div>
            <div class="profile-add"><%= link_to "+ Add", theme_path(theme) %></div>
          <% end %>
      </div>
    <% end %><!-- /basic products loop -->
  <% end %><!-- / profile completion loop -->
</div> <!--  /.profile-panel -->

<div class="index-panel visible-xs-inline">
  <h1>What beauty products are you using?</h1>
    <% if user_signed_in? %>
      <div class= "new-product-panel">
          <div class= "form-group">
            <%= link_to 'Add product!', new_product_path, class: "btn btn-primary btn-lg" %>
          </div>
      </div>
    <% else %>
      <div class="new-product-panel">
        <div class="form-group">
            <%= link_to 'Sign up to share!', new_user_registration_path, class: "btn btn-primary btn-lg" %>
       </div>
     </div>
  <% end %>
</div>

<div class="title">What's new</div>
<div class="product-list">
  <% @recent_actions.each do |action, i| %>
    <div class="col-xs-12 col-sm-6 col-md-4 feed-item">
        <div class="col-xs-4 col-sm-4 col-md-5 feed-user">
          <% if action.user.avatar.present? %>
            <div class="large-avatar"><%= link_to image_tag(action.user.avatar.try(:image).try(:med_thumb)), action.user %></div>
          <% end %>
        </div><!-- /feed-user -->

      <% if action.is_a? (Review) %>
      <div class="review-item">
        <div class="col-xs-8 col-sm-8 col-md-7 feed-action-text">
          <strong><%= link_to "#{action.user.user_name}", action.user %></strong> reviewed <div class="product"><%= link_to action.product.product_brand + ' ' + action.product.product_name, action.product %></div>
        </div><!-- /.feed-action-text -->
        <div class="col-xs-12">
          <div class="feed-product-image"><%= link_to image_tag(action.product.image.url(:med_thumb)), action.product %></div>
          <div class="feed-review-excerpt">
            <div class="star-rating-product-page"><div class="star-rating" data-score= <%= action.rating %> ></div></div>
              <%= truncate(action.comment, length:60, separator: ' ') %></br><div class="feed-timestamp"><%= time_ago_in_words(action.updated_at).gsub('about','') %> ago in <div class="category"><%= link_to "#{action.product.category.name.titleize.pluralize}", action.product.category %></div></div>
          </div><!-- /.feed-review-excerpt -->
        </div><!-- /.col-xs-12 -->
      </div> <!-- /.review-item -->
      <% end %>

      <% if action.is_a? (Use) %>    
      <div class="use-item">    
        <div class="col-xs-8 col-sm-8 col-md-7 feed-action-text">
          <strong><%= link_to "#{action.user.user_name}", action.user %></strong> started using <div class="product"><%= link_to action.product.product_brand + ' ' + action.product.product_name, action.product %></div></br>
        </div><!-- /.feed-action-text -->
        <div class="col-xs-12">
          <div class="feed-product-image"><%= link_to image_tag(action.product.image.url(:med_thumb)), action.product %></div>
          <div class="feed-timestamp"><%= time_ago_in_words(action.updated_at).gsub('about','') %> ago in <div class="category"><%= link_to "#{action.product.category.name.titleize.pluralize}", action.product.category %></div></div>
        </div><!-- /.col-xs-12 -->
      </div> <!-- /.use-item -->
      <% end %>

      <% if action.is_a? (Want) %>
        <div class="want-item">
        <div class="col-xs-8 col-sm-8 col-md-7 feed-action-text">
          <strong><%= link_to "#{action.user.user_name}", action.user %></strong> wants to try <div class="product"><%= link_to action.product.product_brand + ' ' + action.product.product_name, action.product %></div></br>
        </div>
        <div class="col-xs-12">
          <div class="feed-product-image"><%= link_to image_tag(action.product.image.url(:med_thumb)), action.product %></div>
          <div class="feed-timestamp"><%= time_ago_in_words(action.updated_at).gsub('about','') %> ago in <div class="category"><%= link_to "#{action.product.category.name.titleize.pluralize}", action.product.category %></div></div>
        </div>
      </div> <!-- /.want-item -->
      <% end %>

      <% if action.is_a? (Post) %>
      <div class="post-item">
        <div class="col-xs-8 col-sm-8 col-md-7 feed-action-text">
          <strong><%= link_to "#{action.user.user_name}", action.user %></strong> shared <div class="product"><%= link_to "#{action.title}", action.url %></div></br>
        </div><!-- ./feed-action-text -->
        <div class="col-xs-12">
          <div class="feed-product-image"><%= link_to image_tag(action.image), action.url %></div>
          <div class="feed-review-excerpt"></br><%= truncate(action.excerpt, length:100, separator: ' ') %></br></div>
          <div class="feed-timestamp"><%= time_ago_in_words(action.updated_at).gsub('about','')%> ago</div>
        </div><!-- ./col-xs-12 -->
      </div><!-- /.post-item -->
      <% end %>
    </div><!-- /.feed-item -->
  <% end %><!-- /recent_actions loop -->
</div><!-- /product-list -->

<div class="more">
    <div class="form-group">
      <center><%= link_to 'See all products!', categories_path, class: "btn btn-primary btn-lg" %></center>
    </div>
</div>

<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/productbase/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>

<script>
  mixpanel.track("Viewed Home");
  mixpanel.identify("<%= current_user.id %>");
  mixpanel.people.set({
    "$email" : "<%= current_user.email %>",
    "name" : "<%= current_user.user_name %>",
    "User ID" : "<%= current_user.id %>",
  });
</script>

<script> 
  mixpanel.track_links(".feed-user a", "Clicked Feed", {"Item" : "User"})
  mixpanel.track_links(".review-item a", "Clicked Feed", {"Item" : "Review"});
  mixpanel.track_links(".use-item a", "Clicked Feed", {"Item" : "Use"});
  mixpanel.track_links(".want-item a", "Clicked Feed", {"Item" : "Want"});
  mixpanel.track_links(".post-item a", "Clicked Feed", {"Item" : "Post"});
</script>

