<div class="index-panel">
    <h1><%= @search_term %></h1>
</div>

<div class="product-list">
  <div class="title">
      <%= pluralize(@products.count, "Product") %>
  </div>

<div class="category-show">
  <% @products.each_with_index do |product, i| %>

    <div class="row product-row">
          <div class="col-xs-3 col-sm-3 col-md-3 product-image">
              <%= link_to image_tag(product.image.url), product %>
          </div>

          <div class="col-xs-5 col-sm-5 col-md-5">
              <div class="col-xs-12 col-sm-12 col-md-12 product-brand">
                <%= product.product_brand %>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 product-name">
                <%= link_to product.product_name, product %>
              </div>
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 review-info">
            <% if @review_count[i] >= 1 %>
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="star-rating-index"><div class="star-rating" data-score= <%= @avg_rating[i] %>></div></div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12">
                <%= link_to pluralize(@review_count[i], "review"), product %><% unless @use_count[i].size == 0 %>, <%= pluralize(@use_count[i], "user") %><% end %>
              </div>
            <% elsif @review_count[i] == 0 %>
                <div class="col-xs-12">
                  <!--<%= link_to "Add a review!", product %></br>-->
                  <% unless @use_count[i] == 0 %>
                    <%= pluralize(@use_count[i], "user") %>
                    <% end %>
                </div>
            <% end %>

              <% if @use_count[i] > 0 %>
              <div class="uses">
                <div class="tiny-avatar">
                    <%= image_tag(product.uses.first.try(:user).try(:avatar).try(:image).try(:small_thumb)) %>
                    <%= image_tag(product.uses.second.try(:user).try(:avatar).try(:image).try(:small_thumb)) %>
                    <%= image_tag(product.uses.third.try(:user).try(:avatar).try(:image).try(:small_thumb)) %>
                </div>
              </div>
            <% end %>
                    

          </div>
        </div>
    <% end %>
  </div>
</div>



<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/productbase/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>