<div class="index-panel">
  <h1><%= @query %></h1>
</div>

<div class="add-product">
  <%= link_to "Add Product", new_product_path, class: "btn btn-primary btn-lg" %>
</div>

<div class="product-list">
  <div class="title">
    <%= pluralize(@products.count, "Product") %>
  </div>

<div class="category-show">
  <%= render partial: 'products/product_row', collection: @products, as: :product %>
  </div>
</div>

<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/productbase/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>

<script>
  mixpanel.track("Viewed Search Results", {"Search Term": "<%= @query %>"});
</script>
