<%= render 'search' %>

<div class="search-results">
<% if @categories.any? %>
  <div class="title"><%= pluralize(@categories.count, "Category") %></div>
  <div class="category-index">
    <div class="row theme-row">
      <%= render partial: "categories/category_row", collection: @categories, as: :category %>
    </div>
  </div>
<% end %>

<% if @products.any? %>
  <div class="title"><%= pluralize(@products.count, "Product") %></div>
  <%= render 'products/sort' %>
  <div class="sortable">
    <%= render partial: 'products/product_row', collection: @products, as: :product %>
  </div>
<% end %>

<% if !@products.any? && !@categories.any? %>
  <div class="search-fail">Hm, no <%= @query %> yet.</div>

<% end %>
</div>

<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/productbase/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>

<script>
  mixpanel.track("Viewed Search Results", {"Search Term": "<%= @query %>"});
</script>
