<% title @product.product_brand + ' ' + @product.product_name + ', read and add reviews on looklove' %>
<% description 'Reviews and photos of ' + @product.product_brand + ' ' + @product.product_name %>
<% keywords @product.product_brand + ' ' + @product.product_name + ', ' + @product.category.name + ', reviews, community, forum, posts, asian, skincare, beauty, products' %>

<%= render 'search' %>

<div class="product-show">
	<div class="row">
		<div class="col-xs-12 col-sm-5">
			<div class="product-show-image"><%= image_tag @product.image_url %></div>
		</div>
		<div class="col-xs-9 col-sm-6">
			<h1><%= link_to @product.product_brand %></h1>
			<h2><%= @product.product_name %></h2>
			<br/>
			<%= render partial: "metadata", locals: { product: @product } %>
		<br/>
		<%= render partial: "uses/button", locals: { product: @product, user: current_user } %>
		</div>
		<div class="col-xs-3 col-sm-1">
			<div class="product-show-rating">
				<%= render partial: 'rating', locals: { rating: @product.average_rating } %>
			</div>
		</div>
	</div>
</div>

<div class="col-xs-12 col-sm-5">
	<div class="title"><%= pluralize(@product.used_by.count, "User") %></div>
	<% @product.used_by.each do |user| %>
	<div class="small-avatar"><%= link_to image_tag(user.pic), user %></div>
	<% end %>
</div>

<div class="col-xs-12 col-sm-7">
	<div class="title"><%= pluralize(@product.reviews.count, "Rating") %></div>
	<!-- <%= link_to "Add a review!", new_product_review_path(@product), class: "btn btn-lg btn-primary" %> -->

	<%= render partial: "reviews/form" %>


	<%= render partial: "reviews/row", collection: @product.recent_reviews, as: :review %>
</div>

<%= render partial: 'admin', locals: { product: @product } %>


	<script>
	$('.star-rating').raty({
		path: 'https://s3.amazonaws.com/productbase/stars',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		}
	});
	$(".ingredients-button").click(function(){
		$(".ingredients").toggle(200);
	});
	</script>

	<script>
	mixpanel.track("Viewed Product", {"Product Name": "<%= @product.product_name %>", "Product ID": <%= @product.id %>});
	</script>
