<% title @product.product_brand + ' ' + @product.product_name + ', read reviews on looklove' %>
<% description 'Reviews and photos of ' + @product.product_brand + ' ' + @product.product_name %>
<% keywords @product.product_brand + ' ' + @product.product_name + ', reviews, community, forum, posts, asian, skincare, beauty, products, lists, regimen' %>
<% nofollow %>
<% noindex %>

<div class="row">
	<div class="col-md-3">

<%= image_tag @product.image_url %>

<p><h3><%= @product.product_name %></h3></p>
<p>by <%= @product.product_brand %></p>
<div class="star-rating-product-page"><div class="star-rating" data-score= <%= @avg_rating %> ></div></div>
	<% if @reviews.length == 1 %>
	<p><%= "#{@reviews.length} review" %></p><% else %>
	<p><%= "#{@reviews.length} reviews" %></p><% end %>

	<div class = "form-group">
	<%= link_to "Write a Review", new_product_review_path(@product), class: "btn btn-primary" %>
	</div>
	<div class = "form-group">
	<%= link_to "Add a Photo", new_product_photo_path(@product), class: "btn btn-primary" %>
	</div>

	<h4>Photos</h4>
	<!-- cycle through photos and display 300px wide thumbs-->
	<% @photos.each do |photo| %>
  	<p><%= image_tag photo.product_photo_url(:med_thumb) %></p>
  	<p><%= photo.comment %></p>
	<% end %>

</div>

	<div class="col-md-9">
		<% if @reviews.blank? %>
			<h3>There are no reviews yet. Be the first to write one!</h3>
		<% else %>


<!-- cycle through reviews and display -->

		<table class="table">
			<thead>
				<tr>
					<th class="col-md-3"></th>
					<th class="col-md-9"></th>
				</tr>
			</thead>

			<tbody>
				<% @reviews.each do |review| %>
					<tr>
						<td>
							<h4><%= "#{review.user.user_name.capitalize}" %></h4>
							<p><%= review.created_at.strftime("%-m/%-d/%-y") %></p>
						</td>
					<td>
  						<div class="star-rating-product-page"><div class="star-rating" data-score= <%= review.rating %> ></div></div>
						<p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>

						<% if user_signed_in? %>
							<% if (review.user == current_user) || (current_user.admin?) %>
								<%= link_to "Edit", edit_product_review_path(@product, review) %>
								<%= link_to "Delete", product_review_path(@product, review), method: :delete %>
							<% end %>
						<% end %>
					</td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<% end %>
	</div>
</div>

<%= link_to 'Edit', edit_product_path(@product), class: "btn btn-link" %> |
<%= link_to 'Back', products_path, class: "btn btn-link" %>


<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/productbase/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>