<% title @product.name %>
<% description 'Real reviews and ratings of ' + @product.name + 'from trusted members. Get product advice from skincare and beauty enthusiasts.' %>
<% keywords @product.name + ', ' + @product.category.name + ', reviews, community, forum, posts, asian beauty, skincare, beauty, products, makeup, cosmetics' %>


<!-- <div class="product-show-image"><%= image_tag @product.image_url %></div> -->

<div class="col-xs-12 col-sm-5">
	<div class="page-header">
	<h1><%= @product.name %></h1> <%= render partial: "metadata", locals: { product: @product } %>
	</div>
	<% if @product.device.present? %>
		<% if @product.device.include?("web") %><h5><i class="fa fa-globe" aria-hidden="true"></i> &nbsp;Web wallet</h5><% end %>
		<% if @product.device.include?("mobile") %><h5><i class="fa fa-mobile" aria-hidden="true"></i> &nbsp;Mobile wallet</h5><% end %>
		<% if @product.device.include?("desktop") %><h5><i class="fa fa-desktop" aria-hidden="true"></i> &nbsp;Desktop wallet</h5><% end %>
		<% if @product.device.include?("offline") %><h5><i class="fa fa-suitcase" aria-hidden="true"></i> &nbsp;Offline wallet</h5><% end %>

	<% end %>
	<%= @product.about %>

	<div class="related">
		<%= render partial: 'product_row', collection: @product.category.products.sample(0), as: :product %>
	</div>
</div>

<div class="col-xs-12 col-sm-7">

<% if !user_signed_in? %>
	<div class="panel panel-default">
	  <div class="panel-body"><h2>Share your experience</h2></div>
		<%= render partial: "login" %>
	</div>
<% end %>


	<% unless @product.reviews.where(user: current_user).any? %>
		<%= render partial: "reviews/form" %>
	<% end %>

	<div class="reviews">
		<%= render partial: "reviews/row", collection: @product.recent_reviews, as: :review %>
	</div>
</div>
</div>


<%= render partial: "devise/sessions/form_layer" %>

	<script>
	$('.star-rating').raty({
		path: 'https://s3.amazonaws.com/productbase/stars',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		}
	});
	</script>

	<script>
	mixpanel.track("Viewed Product", {"Product Name": "<%= @product.name %>", "Product ID": <%= @product.id %>});
	</script>
