<% title @product.product_brand + ' ' + @product.product_name + ', read and add reviews on looklove' %>
<% description 'Reviews and photos of ' + @product.product_brand + ' ' + @product.product_name %>
<% keywords @product.product_brand + ' ' + @product.product_name + ', ' + @product.category.name + ', reviews, community, forum, posts, asian, skincare, beauty, products' %>

<%= render 'search' %>

<div class="product-show">
	<div class="row">
		<div class="col-xs-12 col-sm-5">
			<div class="product-show-image"><%= image_tag @product.image_url %></div>
		</div>
		<div class="col-xs-9 col-sm-6">
			<h1><%= link_to @product.product_brand %></h1>
			<h2><%= @product.product_name %></h2>
			<!-- <%= link_to "I use this!", use_product_path(@product, type:'unuse'), class: "btn btn-info btn-lg", method: :put %> -->
			<br/>
			<%= render partial: "metadata", locals: { product: @product } %>
			<%= render partial: "ingredients", locals: { product: @product } %>
		<br/>
			<%= link_to "I use this!", use_product_path(@product, type:'unuse'), class: "btn btn-info btn-lg", method: :put %>

		</div>
		<div class="col-xs-3 col-sm-1">
			<div class="product-show-rating">
				<%= render partial: 'rating', locals: { rating: @product.average_rating } %>
			</div>
		</div>
	</div>
</div>

<div class="col-xs-12 col-sm-5">
	<div class="title"><%= pluralize(@product.users.count, "User") %></div>
	<% @product.used_by.each do |user| %>
	<div class="small-avatar"><%= link_to image_tag(user.pic), user %></div>
	<% end %>
</div>

<div class="col-xs-12 col-sm-7">
	<div class="title">XY Reviews</div>
	<%= render partial: "reviews/row", collection: @product.reviews, as: :review %>
</div>

<% if user_signed_in? %>
<% if current_user.admin? %>
</br><p></br>
	<p>Product Id: <%= @product.id %></p>
	<%= link_to 'Edit', edit_product_path(@product), class: "btn btn-link" %> |
	<%= link_to 'Product', products_path, class: "btn btn-link" %> |
	<%= link_to 'New', new_product_path, class: "btn btn-link" %> |
	<%= link_to "Destroy", @product, method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
	<% end %>


	<script>
	$('.star-rating').raty({
		path: 'https://s3.amazonaws.com/productbase/stars',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		}
	});
	$(".ingredients-button").click(function(){
		$(".ingredients").toggle(200);
	});
	</script>

	<script>
	mixpanel.track("Viewed Product", {"Product Name": "<%= @product.product_name %>", "Product ID": <%= @product.id %>});
	</script>
