<% title @product.product_brand + ' ' + @product.product_name + ', read and add reviews on looklove' %>
<% description 'Reviews and photos of ' + @product.product_brand + ' ' + @product.product_name %>
<% keywords @product.product_brand + ' ' + @product.product_name + ', ' + @product.category.name + ', reviews, community, forum, posts, asian, skincare, beauty, products' %>
<div class="row">
	<div class="col-xs-12 col-sm-4">

		<div class="product-panel">
			<div class="product-image"><%= image_tag @product.image_url %></div>


		<% if user_signed_in? %>
			<% if current_user.used_products.include?(@product) %>
 				<%= link_to "I use this!", use_product_path(@product, type:'unuse'), class: "btn btn-info btn-lg", method: :put %>
 			<% else %>
 				<%= link_to "I use this!", use_product_path(@product, type:'use'), class: "btn btn-primary btn-lg", method: :put %>
 			<% end %>
 		<% else %>
 			<%= link_to "I use this!", use_product_path(@product, type:'use'), class: "btn btn-primary btn-lg", method: :put %>
 		<% end %>

				<p><h3><%= @product.product_brand %></br>
				<%= @product.product_name %></h3></p>
				<div class="star-rating-product-page"><div class="star-rating" data-score= <%= @avg_rating %> ></div></div>

	 			<% if @product.category_id != 1 %>
					<p><h5>in <%= link_to @product.category.name.titleize.pluralize, @product.category %></br>
					by <%= link_to "#{@product.product_brand}", 'http://www.looklove.com/products/search?utf8=%E2%9C%93&search=' + @product.product_brand %></h5></p>
				<% end %>
			</div> <!-- /product-image -->

		<% if !@product.ingredients.blank? %>
			<div class="ingredients-list">
				see <div class="ingredients-button">Ingredients</div>
				<div class="ingredients"><p><%= @product.ingredients.titleize %></p></div>
			</div>
		<% end %>

			<% if @photos.blank? == false %>
				<div class = "photo-panel">
				<% if @photos.length == 1 %>
					<h3><%= "#{@photos.length}" %> Photo</h3>
				<% elsif @photos.length >= 1 %>
					<h3><%= "#{@photos.length}" %> Photos</h3>
				<% end %>
				<div class = "product-photos-product-page">
					<% @photos.each do |photo| %>
	  					<p><%= image_tag photo.product_photo_url(:med_thumb) %></p>
	  					<p><strong><%= link_to "#{photo.user.user_name}", photo.user %></strong>: <%= photo.comment %> - <small><%= photo.created_at.strftime("%-m/%-d/%-y") %></small></p>
						<% if user_signed_in? %>
							<% if (photo.user == current_user) || (current_user.admin?) %>
								<p><%= link_to "Edit", edit_product_photo_path(@product, photo) %>
								<%= link_to "Delete", product_photo_path(@product, photo), method: :delete %></p>
							<% end %>
						<% end %>
					<% end %>
				</div>
				</div>
			<% end %>
	</div>

	<div class="col-xs-12 col-sm-8">
		<div class="reviews">


		<% if @reviews.blank? %>
			<center><h3>Have you tried this <%= @product.category.name %>? </br>Be the first to...</h3></center>

					<div class = "row">
						<div class = "form-group">

							<div class= "col-xs-6 col-sm-6 button-1">
								<%= link_to "Add a Review!", new_product_review_path(@product), class: "btn btn-primary btn-lg" %> 
							</div>
						
							<div class = "col-xs-6 col-sm-6 button-2">
								<%= link_to "Add a Photo", new_product_photo_path(@product), class: "btn btn-primary btn-lg" %>
							</div>
						</div>
					</div>


			<% if user_signed_in? %>
		<% if current_user.admin? && @links.exists? %>
			<h4>Blog Posts</h4>
			<% @links.each_with_index do |link| %>
				<p><%= link.excerpt %> - <%= link_to link.site_name, @product %></p> <!-- replace with link.url on go live -->
			<% end %>
		<% end %>
	<% end %>
		<% elsif @reviews.blank? == false %>

					<div class = "row">
						<div class = "form-group">
							<div class= "col-xs-6 col-sm-6 button-1">
								<%= link_to "Add a Review!", new_product_review_path(@product), class: "btn btn-primary btn-lg" %> 
							</div>
						
							<div class = "col-xs-6 col-sm-6 button-2">
								<%= link_to "Add a Photo", new_product_photo_path(@product), class: "btn btn-primary btn-lg" %>
							</div>
						</div>
					</div>


			<% if @reviews.length == 1 %>
				<h3><%= "#{@reviews.length}" %> Review</h3>
			<% elsif @reviews.length >= 1 %>
				<h3><%= "#{@reviews.length}" %> Reviews</h3>
			<% end %>
			<table class="table product-show">
				<thead>
					<tr>
						<th class="col-xs-12 col-sm-12"></th>
					</tr>
				</thead>

				<tbody>
					<% @reviews.each do |review| %>
						<tr>
							<td>
								<div class="row">
									<div class="col-xs-8">
										<table>
											<tr>
												<td>
													<div class="small-avatar"><%= link_to image_tag(review.user.avatar.try(:image).try(:med_thumb)), review.user %>
													</div>
												</td>
												<td>
													<h4><%= link_to "#{review.user.user_name}", review.user %></h4>
													<div class="star-rating-product-page"><div class="star-rating" data-score= <%= review.rating %> ></div></div>
												</td>
											</tr>
										</table>
									</div>
									<div class="col-xs-4">
	  									<div class="timestamp"><small><%= time_ago_in_words(review.created_at).gsub('about','') %> ago</small></div>
									</div>
								</div>
								<div class="col-xs-12">
									<div class="comment">
										<%= h(review.comment).gsub(/\n/, '<br/>').html_safe %>
									</div>
								</div>

								<% if user_signed_in? %>
									<% if (review.user == current_user) || (current_user.admin?) %>
										<%= link_to "Edit", edit_product_review_path(@product, review) %>
										<%= link_to "Delete", product_review_path(@product, review), method: :delete %>
										<%= review.created_at.strftime("%-m/%-d/%-y") %>
									<% end %>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% end %>
	</div>
	</div>






</div> <!-- end of row class -->

<% if user_signed_in? %>
	<% if current_user.admin? %>
</br><p></br>
		<p>Product Id: <%= @product.id %></p>
		<%= link_to 'Edit', edit_product_path(@product), class: "btn btn-link" %> |
		<%= link_to 'Product', products_path, class: "btn btn-link" %> |
		<%= link_to 'New', new_product_path, class: "btn btn-link" %> |
		<%= link_to "Destroy", @product, method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
<% end %>


<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/productbase/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
    $(".ingredients-button").click(function(){
        $(".ingredients").toggle(); 
    });
</script>