<% title @product.product_brand + ' ' + @product.product_name + ', read reviews on looklove' %>
<% description 'Reviews and photos of ' + @product.product_brand + ' ' + @product.product_name %>
<% keywords @product.product_brand + ' ' + @product.product_name + ', reviews, community, forum, posts, asian, skincare, beauty, products, lists, regimen' %>
<% nofollow %>
<% noindex %>

<div class="row">
	<div class="col-xs-12 col-sm-4">

		<div class="product-panel">
			<div class="product-image"><%= image_tag @product.image_url %></div>
			<p><h3><%= @product.product_name %></h3></p>
			<p>by <%= @product.product_brand %></p>
			<div class="star-rating-product-page"><div class="star-rating" data-score= <%= @avg_rating %> ></div></div>

						<div class = "row">
							<div class = "form-group">
								<div class= "col-xs-6 col-sm-12 button-1">
									<%= link_to "Add a Review", new_product_review_path(@product), class: "btn btn-primary" %> 
								</div>
								<div class = "col-xs-6 col-sm-12 button-2">
									<%= link_to "Add a Photo", new_product_photo_path(@product), class: "btn btn-primary" %>
								</div>
							</div>
						</div>
		</div>

		<div class = "photo-panel">
			<% if @photos.blank? == false %>
				<% if @photos.length == 1 %>
					<h3><%= "#{@photos.length}" %> Photo</h3>
				<% elsif @photos.length >= 1 %>
					<h3><%= "#{@photos.length}" %> Photos</h3>
				<% end %>
				<div class = "product-photos-product-page">
					<% @photos.each do |photo| %>
	  					<p><%= image_tag photo.product_photo_url(:med_thumb) %></p>
	  					<p><strong><%= link_to "#{photo.user.user_name}", photo.user %></strong>: <%= photo.comment %> - <small><%= photo.created_at.strftime("%-m/%-d/%-y") %></small></p>
						<% if user_signed_in? %>
							<% if (photo.user == current_user) || (current_user.admin?) %>
								<p><%= link_to "Edit", edit_product_photo_path(@product, photo) %>
								<%= link_to "Delete", product_photo_path(@product, photo), method: :delete %></p>
							<% end %>
						<% end %>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>

	<div class="col-xs-12 col-sm-8">

		<% if @reviews.blank? %>
			<h3>Have you tried this? Be the first to add your review!</h3>
		<% elsif @reviews.blank? == false %>
			<% if @reviews.length == 1 %>
				<h3><%= "#{@reviews.length}" %> Review</h3>
			<% elsif @reviews.length >= 1 %>
				<h3><%= "#{@reviews.length}" %> Reviews</h3>
			<% end %>
			<table class="table">
				<thead>
					<tr>
						<th class="col-xs-12 col-sm-12"></th>
					</tr>
				</thead>

				<tbody>
					<% @reviews.each do |review| %>
						<tr>
							<td>
								<h4><%= link_to "#{review.user.user_name}", review.user %></h4>
	  							<div class="star-rating-product-page"><div class="star-rating" data-score= <%= review.rating %> ></div></div>
	  							<p><%= review.created_at.strftime("%-m/%-d/%-y") %></p>
								<p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>

								<% if user_signed_in? %>
									<% if (review.user == current_user) || (current_user.admin?) %>
										<%= link_to "Edit", edit_product_review_path(@product, review) %>
										<%= link_to "Delete", product_review_path(@product, review), method: :delete %>
									<% end %>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% end %>
	</div>
</div> <!-- end of row class -->


<% if user_signed_in? %>
	<% if current_user.admin? %>
		<%= link_to 'Edit', edit_product_path(@product), class: "btn btn-link" %> |
		<%= link_to 'Product', products_path, class: "btn btn-link" %> |
		<%= link_to 'New', new_product_path, class: "btn btn-link" %>
	<% end %>
<% end %>


<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/productbase/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>