<% title @product.product_brand + ' ' + @product.product_name + ', read and add reviews on looklove' %>
<% description 'Reviews and photos of ' + @product.product_brand + ' ' + @product.product_name %>
<% keywords @product.product_brand + ' ' + @product.product_name + ', ' + @product.category.name + ', reviews, community, forum, posts, asian, skincare, beauty, products' %>

<%= render 'search' %>
<div class="page">
<div class="product-show">
	<div class="row">
		<div class="col-xs-12 col-sm-5">
			<div class="product-show-image"><%= image_tag @product.image_url %></div>
		</div>
		<div class="col-xs-10 col-sm-6">
			<h1><%= link_to @product.product_brand, search_products_path(brand: @product.product_brand) %></h1>
			<h2><%= @product.product_name %></h2>
		</div>
		<div class="col-xs-2 col-sm-1">
			<div class="product-show-rating">
				<%= render partial: 'rating', locals: { rating: @product.average_rating } %>
			</div>
		</div>
		<%= render partial: "metadata", locals: { product: @product } %>
		<% if @product.ingredients.present? %>
			<div class="col-xs-12 col-sm-7 ingredients"><%= @product.ingredients.titleize %></p></div>
		<% end %>
	</div>
</div>

<div class="col-xs-12 col-sm-5 users">
	<div class="title" id="users"><%= pluralize(@product.used_by.count, "User") %></div>
		<div class="user-matrix">
	<% @product.used_by.each do |user| %>
	<div class="small-avatar" id="<%= user.id %>"><%= link_to image_tag(user.pic), user %></div>
	<% end %>
</div>
</div>

<div class="col-xs-12 col-sm-7">
	<div class="title" id="ratings"><%= pluralize(@product.reviews.count, "Rating") %></div>
	<% unless @product.reviews.where(user: current_user).any? %>
		<%= render partial: "reviews/form" %>
	<% end %>

	<div class="reviews">
		<%= render partial: "reviews/row", collection: @product.recent_reviews, as: :review %>
	</div>
</div>
</div>
<!-- <%= render partial: 'admin', locals: { product: @product } %> -->


	<script>
	$(".ingredients-button").click(function(){
		$(".ingredients").toggle(200);
	});
	$('.star-rating').raty({
		path: 'https://s3.amazonaws.com/productbase/stars',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		}
	});
	</script>

	<script>
	mixpanel.track("Viewed Product", {"Product Name": "<%= @product.product_name %>", "Product ID": <%= @product.id %>});
	</script>
