<% if !user_signed_in? %>
  <%= link_to "Add my rating", new_user_session_path, class: "btn btn-lg btn-primary review-button-logged-out" %>
<% else %>
  <%= form_for([@product, @review], remote: true) do |f| %>
  <% if @review.errors.any? %>
  <div id="error_explanation" class= "alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h4>

    <ul>
      <% @review.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="form-group">
    <div id="star-rating"></div>
  </div>
  <div class="form-group">
    <%= f.text_area :comment, placeholder: "What's your experience with this wallet?", class: "form-control", rows: "4"%>
  </div>
  <%= submit_tag "Add your review", name: nil, class: "btn btn-primary review-button" %>
  <% end %>
<% end %>

<script>
$('#star-rating').raty({
  path: 'https://s3.amazonaws.com/productbase/stars',
  scoreName: 'review[rating]'
});
</script>

<!-- <script>
mixpanel.track("Viewed Review Form");
</script> -->
