<div class="medium-avatar"><%= link_to image_tag(review.user.pic), review.user %></div>
<%= review.user.user_name %>
<%= review.comment %>
<%= render partial: 'products/rating', locals: { rating: review.rating } %>
<%= time_ago_in_words(review.created_at).gsub('about','') %> ago
