<center>
Hi!

<p><strong><%= @resource.invited_by.user_name %></strong> invited you to <strong>looklove</strong>,</br> a place for sharing our skincare routines.</p>

<strong><p><%= link_to "Join!", accept_invitation_url(@resource, :invitation_token => @token) %></p></strong>
</center>

<%= link_to image_tag("https://s3.amazonaws.com/productbase/email/image-square-looklove.png"), accept_invitation_url(@resource, :invitation_token => @token) %>

<!-- Original mailer from devise is here --

<p><%= t("devise.mailer.invitation_instructions.hello", email: @resource.email) %></p>

<p><%= t("devise.mailer.invitation_instructions.someone_invited_you", url: root_url) %></p>

<p><%= link_to t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, :invitation_token => @token) %></p>

<% if @resource.invitation_due_at %>
  <p><%= t("devise.mailer.invitation_instructions.accept_until", due_date: l(@resource.invitation_due_at, format: :'devise.mailer.invitation_instructions.accept_until_format')) %></p>
<% end %>

<p><%= t("devise.mailer.invitation_instructions.ignore").html_safe %></p>
-->
